body{
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 300;
    text-align: center;
}
h1{
  font-weight: 200;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(223, 205, 178);
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
    font-family:'Segoe UI';
	font-size: 18px;
	background-color: rgb(238, 149, 162);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: rgb(241, 119, 137);
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s; 
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.inline {
    display: inline-flex;
}

#submit-name{ 
    margin-top: 20px; 
    height: 50px; 
    width: 100px; 
    font-size: 14px; 
    text-align: center;
    vertical-align: middle;
    padding: 0px; 
}

.display-block{
    display: block; 
}
